.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header {
    height: 75px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    font-size: 20px;
    margin-top: 10px;

}

.searchtext {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.searchbutton {
    background: orange;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    width:100px;
    text-align: center;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.searchinput {
    margin: auto;
    color: black;
    background-color: #F1F2F1;
    padding: 15px;
    font-size: 20px;
    width: 500px;
    height: 7px;
    border-radius: 3px;
    border: none;
    outline: none;
    margin: 0px 10px 0px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



.explorecontent {
    height: 1500px;
    width: 85%;
    background: lightgray;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}


.content {
    height: 200px;
    width: 90%;
    background: white;
    margin: 10px 0px 5px 0px;
    border: 1px solid orange;
}
