@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);


.splash-container{
  /* position: absolute; */
  top: 0%;
  bottom: 24%;
  left: 0%;
  right: 0%;
  background-image: url('../images/dot-jobs.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  height: 71vh;
  
}

.home-container {
  width: 100%;
  height: 100%;
}

.splash-title{
  display: flex;
  justify-content: center;
  font-family: 'Bree serif', serif;
  font-size: 120px;
  color: orange;
  font-weight: normal;
  
}

.splash-slogan{
  display: flex;
  justify-content: center;
  /* padding-top: 577px; */
  font-size: 35px;
  font-weight: lighter;
  font-family: serif;
  color: #407EBB;
}

.splash-buttons{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.login{
  width: 110px;
  height: 55px;
  color: white;
  font-size: 20px;
  font-weight: 550;
  background-color: orange;
  border-radius: 4px;
  text-align: center;
  outline: none;
  border: 0px solid;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;
}



.signup{
  width: 110px;
  height: 55px;
  color: white;
  font-size: 20px;
  font-weight: 550;
  background-color: orange;
  border-radius: 4px;
  text-align: center;
  outline: none;
  border: 0px solid;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif;

}

.footer{
  display: flex;
  align-items: flex-end;
}
