.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width:300px;
  background: #4480B7;
}

.modal-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 40px;
}

#session{
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
  font-size: 30px;
  color: white;
}

.login-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form{
  width: 200px;
}


#session-word{
  display: flex;
  padding: 10px 0px;
  color: white;
  justify-content: center;
}

.session-input{
  display: flex;
  font-size: 14px;
  margin: 0 0 9px;
  padding: 5px 9px;
  width: 100%;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  box-sizing: border-box;
  
}

.submit-modal-container{
  width: 200px;
  margin: 0 auto;
}

.submit-modal{
  font-size: 16px;
  font-weight: 700;
  width: 200px;
  padding: 12px 0;
  margin-top: 25px;
  line-height: 1.3125em;
  color: white;
  border: 1px solid ;
  border-radius: 3px;
  background-color: orange;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-self: center;
}

.error-display{
  
}

.error-rendering{
  padding: 5px 0px;
  color: white;
  width: 200px;
  margin: 0 auto;
}