.navbar {
    width: 100%vw;
    height: 60px;
    background: lightblue;
    display: flex;
    align-items: center;
}

.navbarsub {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px 0px 15px;
}

.maintitle {
    font-size: 30px;
}