#myFile {
    display: none;
}

.fileupload, .uploadsubmit {
    cursor: pointer;
    color: white;
    background: orange;
    border: 1.5px solid #427EB9;
    width: 130px;
    height: 20px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    border-radius: 3px;
}

.fileupload input:hover {
  cursor: pointer;
  text-shadow: 4px 0px 5px white;
}

.uploadform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    margin: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}