.usermain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100%;
  margin: 5px;
  margin-right: 3%;
  margin-left: 5%

}

.avatar{
  background-image: url('../images/download.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 250px;
  margin-top: 5%;
  border-radius: 50%;
}

.yourkeywords {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: orange;
  font-size: 30px;
  margin: 10px;

}

.keywords {
  color: orange;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.mainbar {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5%;

}

.mainbartitle {
  width: 90%;
  height: 75px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: orange;
  border-bottom: 2px solid black;
}

.jobitems {
  width: 90%;
  margin-top: 10px;
  background: #427EBA;
  height: 500px;
}

/* .my-list{
  font-size: 70px;
  padding-left: 25px;
  color: orange;
}

.list-container{

  position: absolute;
  top: 330px;
  bottom: 15px;
  right: -290px;
  left: 330px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list-box{
  height: 1000px;
  width: 70%;
  background: lightgray;
  border: 1px solid #B1E6FB;
  margin: 20px;
  
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.job{
    height: 200px;
    width: 90%;
    background: white;
    margin: 10px 0px 15px 0px;
    border: 1px solid #B1E6FB; 
} */