/* .sidebar{
  height: 230px;

} */

.avatar{
  background-image: url('../images/avatar.jpeg'); 
  background-repeat: no-repeat;
  background-position: 18% 120%;
  height: 98%;
  width: 30%;
}


.list-container{

  
}

.job-item{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.logo{
  height: 50px;
  width: 155px;
}

.job-container {
  background-color: white;
  width: 250px;
  border: 7px solid #407EB4;
  border-radius: 2.5px;
  padding: 5px;
  margin: 10px;
}

.company-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 2%;
}

.company {
  padding-bottom: 2%;
}

.job-title {
  padding-bottom: 2%;
}

.job-location {
  padding-bottom: 3%;
}

.company-name{
  font-weight: bold;
}

.role {
  font-weight: bold;
}

.location {
  font-weight: bold;
}

.job-url {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.apply-button {
  background-color: #FFA500;
  border: none;
  color: white;
  padding: 6px 50px;
  /* border-radius: 2px; */
}

.job-url a:hover {
  cursor: pointer;
  text-shadow: 4px 0px 5px white;
  outline: 2px solid #407EB4;

}

.delete-button {
  background-color: #407EB4;
  border: none;
  color: white;
  padding: 3px 10px;
  border-radius: 2px;
}

.delete-job button:hover {
  cursor: pointer;
  text-shadow: 4px 0px 5px white;
  outline: 1px solid white;
}




